*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    
    /* box-sizing: border-box; */
}
body{
    background-color: black;
    color: #fff;
}
.header{
    max-width: 100%;
    min-height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(header-image.png);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
}
.logo{
    width: 150px;
    cursor: pointer;
}
nav button{
    border: 0;
    background: #db0001;
    color: #fff;
    padding: 7px 20px;
    font-size: 15px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}
.nav-btn{
    display: flex;
    align-items: end;

}
.lang-btn{
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid #fff;
    padding: 7px 10px;
}
.lang-btn img{
    width: 10px;
    margin-left: 10px;
}
.header-content{
    display: flex;
    flex-direction: column;
    align-items: center;

    /* border: 2px solid rebeccapurple; */
    margin: auto;
    min-width: 10%;
    /* min-height: 50%; */
     /* position: absolute; */
    text-align: center;
    margin-top: 100px;
}
.header-content h1{
    text-align: center;
    /* flex-basis: auto; */
    font-size: 50px;
    line-height: 60px;
    font-weight: 800;
    max-width: 200%;
    margin-bottom: 10px;
    
}
.header-content h3{
    font-weight: 500;
    margin-bottom: 20px;
    /* margin-top: 10px; */
}

.email-signup{
    
    /* border-radius: 5px; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    margin: 30px;
    /* overflow: hidden; */
    gap: 10px;
    /* border: 5px solid red; */
    height: 50px;

}
.email-signup  input{
    background: rgba(0,0,0,0.5);
    flex-grow: 0;
    border: 1px solid white;
    border-radius: 3px;
    outline: 0;
    margin-left: 20px;
    color: white;
    width: 50%;
    /* height: 20px; */
    font-size: 20px;
    text-align:inherit;

}
.email-signup button{
    background: #db0001;
    border-radius: 3px;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
    padding: 10px 25px;

}
                /* ------------------features --------------*/
.features{
    /* padding: 10px 12%; */
    font-size: 25px;
    /* border: 2px solid red; */
    
    
}
.row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    /* align-self: center; */
    justify-content: center;

    gap: 10px;
    border-top: 5px solid #333;
    
}
.text-col{
    flex-basis: 50%;
    margin-bottom: 20px;
    text-align: center;
    /* border: 2px solid rgb(38, 255, 0); */
}
.img-col{
    /* position: relative; */
    flex-grow: 45%;
    /* margin-bottom: 20px;
    margin-right: 40px; */
    /* margin: 10px 50px; */
    /* border: 5px solid rgb(0, 255, 191); */
    width: 100%;
    /* gap: 48px; */
}
.img-col {
    position: relative;
    flex-grow: 55%;
    margin: 40px 20px;
    max-width: 50vh;
    gap: 48px;
    /* overflow: hidden; */
    /* border: 5px solid rgb(24, 139, 30); */
   /* z-index: 5; */
}

.img-col .image {
    display:flex;
    align-items: center;
}
.img-col video  {
    position: absolute;
    top:48%;
    left:53%;
    transform:translate(-50%, -50%);
    max-width:80%;
    z-index: -1;
}
.img-col img{
    /* display: block; */
    width: 100%;
    margin: auto;
}
.features h2{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
}
/* ------------------faq --------------*/

.faq{
    border-top: 5px solid #333;
    padding: 10px 15%;
    text-align: center;
    
}
.faq h2{
    font-weight: 700;
    font-size: 50px;
}
.accordion{
    margin: 60px auto;
    width: 100%;
    max-width: 800px;
    

}
.accordion li{
    list-style: none;
    width: 100%;
    padding: 5px;
}
.accordion li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position:relative;
}
label::after{
    content: '+';
    font-size: 35px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}
input[type = "checkbox"]{
    display: none;
}
.accordion .content{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s,padding 0.5s;
}
.accordion input[type="checkbox"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 20px;

}
.accordion input[type="checkbox"]:checked + label::after{
    transform: rotate(225deg);
}
.faq .email-signup{
    max-width: 600px;
    margin: 2px auto 60px;
}
.faq small{

}

/* ----------------- footer ------------------ */

.footer{
    padding: 50px 15% 10px;
    border-top: 6px solid #333;
    color: #777;
}
.footer h2{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
}
.footer .col{
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;

}
.footer .col a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #777;
    font-size: 15px;
    margin-bottom: 10px;
}
.footer .row{
    align-items: flex-start;
    padding: 10px 0;
}
.footer .lang-btn{
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}
.copyright-txt{
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* ==============media-queries-for small screen=================== */

@media only screen and (max-width:600px){
    .logo{
        width: 100px;
    }
    nav button{
        padding: 5px 10px;
    }
    nav .lang-btn{
        padding: 4px 8px;
    }
    .header-content{
        position: unset;
        transform: none;
        padding-top: 30px;
    }
    .header-content h1{
        font-size: 50px;

    }
    .email-signup{
        /* border: 2px solid red; */
        height: 50px;
    }
    .email-signup button{
        font-size: 15px;
        padding: 10px 15px;
        text-align: center;
    }
    .text-col, .img-col{
        flex-basis: 100%;
        text-align: center;
    }
    .features h2{
        font-size: 40px;
    }
    .features p{
        font-size: 20px;
    }
    .row:nth-child(2),.row:nth-child(4){
        flex-direction: column-reverse;
    }
    .features .row{
        padding: 10px 0;
        text-align: center;
    }
    .faq h2{
        font-size: 25px;
    }
    .accordion .content{
        font-size: 15px;
    }
    .accordion li label{
        padding: 10px;
        font-size: 15px;
    }
    label::after{
        font-size: 22px;
    }
}
